<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-title id="title">General settings</ion-title>
    <div id="setting">
      <div>
        <ion-label id="setting-lable">Choose Button background Color</ion-label>
        <ion-select class="custom-select" aria-label="fruit" placeholder="Select Color" interface="popover"
          label-placement="floating">
          <img src="../../assets/icon/favicon.png" slot="start" alt="">
          <ion-select-option *ngFor="let food of foods" [value]="food">{{ food.name }}</ion-select-option>
        </ion-select>
      </div>
      <div>
        <ion-label id="setting-lable">Choose Button Border Color</ion-label>
        <ion-select class="custom-select" aria-label="fruit" placeholder="Select Color" interface="popover"
          label-placement="floating">
          <img src="../../assets/icon/green.png" slot="start" alt="">
          <ion-select-option *ngFor="let food of foods" [value]="food">{{ food.name }}</ion-select-option>
        </ion-select>
      </div>
      <div>
        <ion-label id="setting-lable">Choose Button Shape</ion-label>
        <ion-select class="custom-select" aria-label="fruit" placeholder="Select fruit" interface="popover"
          label-placement="floating">
          <img src="../../assets/icon/favicon.png" slot="start" alt="">
          <ion-select-option *ngFor="let food of foods" [value]="food">{{ food.name }}</ion-select-option>
        </ion-select>
      </div>
    </div>
  </div>
</ion-content>